html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #212121;
  background: #ffffff;
}

.container {
  display: block;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}